.form-container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.lead-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lead-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lead-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
}

.lead-info {
    display: flex;
    flex-direction: column;
}

.lead-title {
    font-size: 1.8rem;
    color: #0027a3;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.form-row {
    display: flex;
    gap: 20px; /* Espacement entre les champs */
    margin-bottom: 20px;
}

.form-row lightning-input {
    flex: 1; /* Champs prennent toute la largeur disponible */
}

.lightning-input {
    width: 100%;
}

/* Responsivité */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column; /* Les champs sont empilés sur mobile */
    }
}
