:host {
    display: block;
    padding: 1rem;
}

.slds-col {
    margin-top: 30px;
}

.slds-card {
    padding: 1rem;
    margin-bottom: 1rem;
}

.slds-table {
    width: 100%;
    border-collapse: collapse;
}

.slds-table th,
.slds-table td {
    border: 1px solid #d8dde6;
    padding: 0.5rem;
}

.slds-table th {
    background-color: #f3f4f6;
    font-weight: bold;
    text-align: left;
}

.slds-table td {
    text-align: left;
}

lightning-button {
    margin: 10px;
}

.slds-button-group {
    margin-top: 1rem;
}

.slds-button-group .slds-button {
    margin-right: 0.5rem;
}

/* Badge pour chaque étape */
.badge {
    padding: 5px 12px;
    border-radius: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
}

.badge-prospecting {
    background-color: #ff99f7;
    color: #000;
    font-weight: bold;
}

.badge-qualification {
    background-color: #cfe2f3;
    color: #000;
    font-weight: bold;
}

.badge-proposal {
    background-color: #d9ead3;
    color: #000;
    font-weight: bold;
}

.badge-contract {
    background-color: #f4cccc;
    color: #000;
    font-weight: bold;
}

.badge-closedwon {
    background-color: #b6d7a8;
    color: #000;
    font-weight: bold;
}

.badge-closedlost {
    background-color: #ea9999;
    color: #000;
    font-weight: bold;
}

.badge-default {
    background-color: #eeeeee;
    color: #000;
    font-weight: bold;
}
.custom-cell {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    color: white;
}
